/* src/App.css */
.App {
  text-align: center;
}

.App .search-bar {
  margin-top: 20px;
}

.results {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.results h3 {
  margin: 0 0 5px;
}